.DS_Store
.idea
imgui.ini
cmake-*
ImportExecutables-*.cmake
/out*
dist
dist-*
toolchains
filament/docs/html/**
*tmp*.png
civetweb.txt
/TAGS
test*.png
test*.json
results
/compile_commands.json
/.cache
/scratch
*/docs/detailed/
